@{
    ViewData["Title"] = "Home Page";
}

@model Monster
<div class="text-center">

<form action="/monsters/create" method="post">    
    <label asp-for = "Name"></label>    
    <input asp-for = "Name">    
    <label asp-for = "LocatedAt"></label>
    <input asp-for = "LocatedAt">
    <label asp-for = "LastSeen"></label>
    <input asp-for = "LastSeen">
    <label asp-for = "Description"></label>
    <input asp-for = "Description">
</form>
</div>

